* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f3e6c8;
  color: #4a2c1a;
}

/* ================= HERO ================= */
.hero {
    /* background-color: blue; */
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}
.container-information{
  gap: 5%;
}

.hero-card {
  background: #fdf4e3;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
  margin-top: 15px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.hero-content {
  padding: 30px;
}

.hero-content h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #6b3e1e;
}

.hero-content h2 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: normal;
}

.hero-content p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.coordinate {
  font-size: 14px;
  color: #7a5236;
}

/* ================= MAP ================= */
.map-container{
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
}
.map-section {
    background-color: rgb(253,244,227);
    border-radius: 16px;
    width: 1100px;
    padding: 10px 20px 50px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15)
}

.map-section h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

#map {
  width: 100%;
  height: 420px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,.15);
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .hero-card {
    grid-template-columns: 1fr;
  }

  .hero-content h1 {
    font-size: 22px;
  }
}
